@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Libre Baskerville", serif !important;
}

.navbar-toggler {
    line-height: 3 !important;
    border: var(--bs-border-width) solid rgb(0 0 0 / 0%) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.navbar {
    --bs-navbar-padding-x: none !important;
    --bs-navbar-padding-y: none !important;
    --bs-navbar-brand-margin-end: 7rem !important;
}

hr{
    border-top: 5px solid  !important;
}

.yeah{
    font-family: "Poppins", sans-serif !important;
}

.par1{
    margin-right: 100px !important;
}

@media(max-width:425px){
    .par1{
        margin-right: 0px!important;
    }
}